.currency-converter-container {
    height: 150px;
    max-width: 90%;
    max-height: 90%;
    background-color: antiquewhite;
  }
  
  .label {
    margin-right: 10px;
    padding-top: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #9bb5d1;
  }
  
  .combo-box-container {
    margin-bottom: 40Px;
  }
  
  .combo-box {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 10%;
    max-width: 10%;
    background-color: #555e67;
    color: #ccc;
  }
  
  .input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 10%;
    max-width: 10%;
    background-color: #9bb5d1;
  }
  
  .convert-button {
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .converted-amount {
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .converted-amount-value {
    font-weight: bold;
  }
  .title-name{
    font-size: larger;
    font-style: italic;
    color: #007bff;
  }